@{
    ViewData["Title"] = "À Propos";
}

<img src="~/images/3il-group.png" alt="logo-3il-ingenieurs" />

<p class="mt-4">Cette application est une production 3iL Ingénieurs</p>

<p>Application C# écrite avec ASP.NET</p>

<p>En savoir plus sur <a href="https://www.3il-ingenieurs.fr/">3iL Ingénieurs</a></p>
