@{
    ViewData["Title"] = "Acceuil";
}

<div class="text-center">
    <h2 class="display-4">Bienvenue @ViewBag.UserEmail, Vie Étudiante</h2>
    <p>Les émergements sont disponibles pour toutes consultations.</p>
</div>
