@{
    ViewData["Title"] = "Emargements";
}
<h2>@ViewData["Title"]</h2>
<table id="signatures" class="table table-sm table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>signatureID</th>
            <th>Date de création</th>
            <th>Présence</th>
            <th>Elève</th>
            <th>Promotion</th>
            <th>Groupe</th>
        </tr>
    </thead>
</table>